h1{
    text-align: center;
    margin: 20px;
}
#result{
    font-size: 40px;
    text-align: center;
    margin: 20px;
}
button{
    display: block;
    margin: auto;
    padding: 10px 20px;
    font-size: 20px;
    cursor: pointer;
    background-color: rgb(120, 203, 120);
    border-radius: 5px;
    color: darkblue;
    display: flex;
    cursor: pointer;
}
#num1{
    width: 60px;
    height: 60px;
    font-size: 24px;
    margin: 5px;
    align-items: center;
}
#num2{
    width: 60px;
    height: 60px;
    font-size: 24px;
    margin: 5px;
}
.numbers{
    text-align: center;
    
}
.operations{
    text-align: center;
    margin: 20px;
    border:2px solid rgb(98, 211, 181);
    padding: 10px;
    border-radius: 10px;
    display: flex;
}
.container{
    background-color: rgb(138, 73, 208);
    border: 3px solid rgb(57, 36, 150);
    padding: 10px;
    border-radius: 10px;
    margin-top: 100px;
    margin-bottom: 100px;
    margin-left: 30%;
    margin-right: 30%;
    
}
body{
    background-color: rgb(0, 0, 0);
}
