body {
    margin: 0;
    height: 100vh;
    background-color: #0f172a;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
}

#card {
    background: #28374f;
    width: 380px;
    padding: 30px;
    border-radius: 16px;
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.4);
    color: #ffffff;
}

#title {
    margin: 0;
    font-size: 28px;
    line-height: 1.2;
}

#highlight {
    color: #22c55e;
}

#subtitle {
    margin-top: 10px;
    color: #94a3b8;
    font-size: 14px;
}

#generate-btn {
    margin-top: 20px;
    padding: 12px 20px;
    background-color: #22c55e;
    border: none;
    border-radius: 8px;
    color: #ffffff;
    font-size: 14px;
    cursor: pointer;
}

#generate-btn:hover {
    background-color: #16a34a;
}

#divider {
    margin: 25px 0;
    height: 1px;
    background-color: #334155;
}

#password-box {
    display: flex;
    gap: 10px;
}

#password1,
#password2 {
    flex: 1;
    background-color: #0f172a;
    color: #22c55e;
    padding: 10px;
    border-radius: 6px;
    font-size: 13px;
    text-align: center;
    user-select: all;
}
#password1,
#password2 {
    cursor: pointer;
}

#pass-length {
    margin-top: 15px;
    width: 50%;
    padding: 12px 20px;
    background-color: #22c55e;
    border: none;
    border-radius: 8px;
    color: #ffffff;
    font-size: 14px;
    outline: none;
    box-sizing: border-box;
}

#pass-length::placeholder {
    color: #dcfce7;
}

#pass-length:focus {
    background-color: #16a34a;
}